@font-face {
    font-family: PT_Serif-Web-Regular;
    src: url('../assets/fonts/PT_Serif-Web-Regular.woff2')
}

@font-face {
    font-family: MaisonNeue-Medium;
    src: url('../assets/fonts/MaisonNeue-Medium.woff2')
}

video {
  height: 430px;
  object-fit: fill;
  width: 100%;
}

h2 {
  color: #14395a;
  font-family: MaisonNeue-Medium, sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  letter-spacing: 2px;
  line-height: 38px;
  margin: 5%;
  text-shadow: 2px 0 #14395a;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.ad-group {
  position: relative;
}

.ad {
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
}

.active-ad {
  opacity: 1;
  z-index: 2;
}

.info {
  background-color: #fff;
  height: 100%;
  position: relative;
  padding-left: 2.5%;
}

.content {
  border-left: 5px solid #4cace9;
  padding-left: 2.5%;
}

.ad-description, .find-out-more {
  padding-left: 4%;
  margin-bottom: 2.5%;
}

.ad-description {
  color: #a0a0a0;
  font-family: PT_Serif-Web-Regular, sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 20px;
}

.logo {
  margin: 15% 5% 0 0;
  height: 25%;
  width: 50%;
}

.find-out-more__cta {
  background-color: #107ac8;
  border-radius: 31px;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border: 2px solid #107ac8;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: MaisonNeue-Medium,  sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  margin-top: 14%;
  padding: 4px 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 0 #107ac8;
  width: 25%;
}

.find-out-more__cta:hover {
  background-color: #0f6db3;
}

@media screen and (min-width: 768px) {
  video {
    height: 520px;
  }
}

@media screen and (min-width: 990px) {
  .ad-group {
    width: 50% !important;
  }

  .flex-container {
    flex-direction: row-reverse;
  }
}
