@font-face {
    font-family: 'MaisonNeue-Medium';
    src: url('../assets/fonts/MaisonNeue-Medium.woff2')
}

*,
::after,
::before {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 0.7rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}

h2, p {
  line-height: 1.2;
  margin-top: 0;
}

video {
  height: 430px;
  object-fit: fill;
  width: 100%;
}

.d-flex {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
}

.flex-column {
  -webkit-flex: column;
  -moz-flex: column;
  -o-flex: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row-reverse {
  -webkit-flex: row-reverse;
  -moz-flex: row-reverse;
  -o-flex: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-fill {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.embed-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.embed-responsive::before {
  content: "";
  display: block;
}

.embed-responsive .embed-responsive-item,
.embed-responsive video {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content-edTech {
  border-left: 5px solid #4cace9;
  border-radius: 0.5%;
  color: #a0a0a0;
}

.edTech-h2 {
  color: #14395a;
}

.content-cineworld {
  color: #fff;
  font-family: 'MaisonNeue-Medium', sans-serif;
}
.text-left {
  text-align: left;
}

.m-4 {
  margin: 1.5rem;
}

.mt-7 {
  margin-top: 4rem;
}

.p-4 {
  padding: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 2rem;
}

.ad {
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}

.active-ad {
  opacity: 1;
  z-index: 2;
}

.logo-edTech {
  height: 10%;
  width: 20%;
}

.logo-cineworld {
  height: 30%;
  margin-bottom: 1.5rem;
  width: 60%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.find-out-more {
  margin-top: 3rem;
}

.watch-the-story {
  margin-top: 5.7rem;
}

.find-out-more__cta, .watch-the-story__cta {
  background-color: #107ac8;
  border: 2px solid #107ac8;
  border-radius: 31px;
  color: #fff;
  cursor: pointer;
  font-family: 'MaisonNeue-Medium',  sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  margin-top: 1rem;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 0 #107ac8;
  width: 8rem;
}

.previous, .next {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
  width: 25%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  z-index: 100;
}

.left-arrow {
  margin: 12.5rem 0 0 -5.5rem;
}

.right-arrow {
  margin: 12.5rem 0 0 13.5rem;
}

#cineworld {
  background-color: #283c58;
  height: 520px;
  margin-top: -1.5rem;
  width: 22.7rem;
}

@media (max-width: 414px) {
  .ad {
    margin: 10% 0 5% 0;
  }

  .content-cineworld {
    margin: 0 0 0 3rem;
  }

  .find-out-more__cta {
    margin: -5.8rem 0 0 14.5rem;
  }

  .info {
    margin: 0 0 0 5%;
  }

  .left-arrow {
    margin: 10rem 0 0 2rem;
  }

  .logo-edTech {
    height: 20%;
    margin: 2rem 0 0 0;
    width: 40%;
  }

  .previous, .next {
    width: 12.5%;
  }

  .right-arrow {
    margin: 10rem 0 0 19rem;
  }

  .watch-the-story__cta {
    margin-top: 2rem !important;
  }

  #cineworld {
    height: 275px;
    margin-top: 0;
    width: 100%;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  html {
    font-size: 0.8rem;
  }

  .ad {
    margin: 2rem 0 0 0;
  }

  .ad-description {
    margin: 0 0 1.3rem 0;
  }

  .content-cineworld {
    margin: 0 0 0 2.7rem;
  }

  .find-out-more__cta {
    margin: -5.8rem 0 0 15rem;
  }

  .info {
    margin: 0 0 0 5%;
  }

  .left-arrow {
    margin: 10rem 0 0 2rem;
  }

  .logo-edTech {
    height: 12.5%;
    margin: 4rem 0 0 0;
    width: 25%;
  }

  .previous, .next {
    width: 10%;
  }

  .right-arrow {
    margin: 10rem 0 0 19rem;
  }

  .watch-the-story {
    margin: 0;
  }

  #cineworld {
    height: 275px;
    margin-top: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
    html {
      font-size: 1rem;
    }

    video {
      height: 520px;
    }

    #cineworld {
      width: 19rem;
    }
}

@media (width: 768px) and (orientation: portrait) {
    html {
      font-size: 1.2rem;
    }

    .content-edTech {
      font-size: 1.1rem;
      /* margin: 3rem 11rem 0 11rem; */
      margin: 3rem 0 0 3.5rem;
    }

    .content-cineworld {
      margin: 0 3rem;
    }

    .find-out-more__cta {
      margin: 1rem 0 0 4rem;
    }

    .left-arrow {
      margin: 14.5rem 0 0 0.5rem;
    }

    .logo-edTech {
      height: 12.5%;
      width: 25%;
    }

    .previous, .next {
      width: 11%;
    }

    .right-arrow {
      margin: 14.5rem 0 0 16rem;
    }

    .watch-the-story {
      margin: 6rem 0 0 1rem;
    }

    #cineworld {
      width: 100%;
    }
  }

@media (min-width: 812px) and (max-width: 823px)
  and (orientation: landscape) {
  #cineworld {
    width: 19rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.25rem;
  }

  #cineworld {
    width: 19.5rem;
  }
}

@media (min-width: 1385px) {
  #cineworld {
    width: 22.2rem;
  }
}

@media (min-width: 1550px) {
  #cineworld {
    width: 22.8rem;
  }
}

@media (min-width: 1600px) {
  #cineworld {
    width: 23.8rem;
  }
}
