@font-face {
    font-family: 'PT_Serif-Web-Regular';
    src: url('../assets/fonts/PT_Serif-Web-Regular.woff2')
}

@font-face {
    font-family: 'MaisonNeue-Medium';
    src: url('../assets/fonts/MaisonNeue-Medium.woff2')
}

*,
::after,
::before {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 0.7rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}

h2, p {
  line-height: 1.2;
  margin-top: 0;
}

video {
  height: 430px;
  object-fit: fill;
  width: 100%;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-fill {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.embed-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.embed-responsive::before {
  content: "";
  display: block;
}

.embed-responsive .embed-responsive-item,
.embed-responsive video {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content-edTech {
  border-left: 5px solid #4cace9;
  border-radius: 0.5%;
  color: #a0a0a0;
}

.edTech-h2 {
  color: #14395a;
}

.content-cineworld {
  color: #fff;
  font-family: 'MaisonNeue-Medium', sans-serif;
  letter-spacing: 1px;
}
.text-left {
  text-align: left;
}

.m-4 {
  margin: 1.5rem;
}

.mt-7 {
  margin-top: 4rem;
}

.p-4 {
  padding: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 2rem;
}

.ad {
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
}

.active-ad {
  opacity: 1;
  z-index: 2;
}

.logo-edTech {
  height: 10%;
  width: 20%;
}

.logo-cineworld {
  height: 30%;
  margin-bottom: 1.5rem;
  width: 60%;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.find-out-more {
  margin-top: 2%;
}

.watch-the-story {
  margin-top: 4.2rem;
}

.find-out-more__cta, .watch-the-story__cta {
  background-color: #107ac8;
  border: 2px solid #107ac8;
  border-radius: 31px;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  color: #fff;
  cursor: pointer;
  font-family: MaisonNeue-Medium,  sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 0 #107ac8;
}

.find-out-more__cta {
  padding: 4px 10px;
  width: 15%;
}

.watch-the-story__cta {
  padding: 5px 20px;
  width: 20%;
}

.find-out-more__cta:hover, .watch-the-story:hover {
  background-color: #0f6db3;
}

#cineworld {
  background-color: #283c58;
  height: 520px;
  margin-top: -1.5rem;
  width: 21.2rem;
}

.previous, .next {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 25%;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 100;
}

.left-arrow {
  margin: 11rem 0 0 -5.5rem;
}

.right-arrow {
  margin: 11rem 0 0 13rem;
}

@media (min-width: 576px) {
    html {
      font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    html {
      font-size: 1rem;
    }

    video {
      height: 520px;
    }
}

@media (min-width: 992px) {
    html {
      font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    html {
      font-size: 1.5rem;
    }
}
